/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* General */

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--open);
}

:root{
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
    --open:"Open Sans", sans-serif; 
}

body{
    /* On donne une taille maximale de contenu qui peut se réduire lorsqu'on a un écran plus petit */
    max-width: 1440px;
    /* Lorsqu'on est sur un écran plus grand, le margin auto redistribue automatiquement l'espace disponible à gauche et à droite */
    margin:auto;
    /* J'ajoute de la marge interne à gauche et à droite pour éviter que sur les écrans plus petit le contenu ne soit collé au bord du navigateur */
    padding:0 15px;
}

h1,
h2{
    font-size: 22px;
    font-weight: 700;
    color:var(--black);
}

h3{
    font-size: 16px;
    font-weight: 700;
    color:var(--black);
}

p{
    font-size: 16px;
    font-weight: 400;
    color:var(--black);
}

/* a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color:var(--black);
    transition: all .2s ease;
}

a:hover{
    color:var(--red);
} */

/* Les deux façons de faire donnent exactement le même résultat */

a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color:var(--black);
    transition: all .2s ease;
    &:hover{
        color:var(--red);
    }
}

/* header */

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 180px;
    margin:10px 0;
}

nav ul{
    display: flex;
    gap:50px;
    list-style: none;
    padding:0;
}

nav li{
    padding-top: 50px;
    border-top: 1px solid transparent;
}

nav a{
    padding:0 15px;

    &:hover{
        border-top: 1px solid var(--red);
        padding-top: 50px;
    }
}

/* Section 1 : Search */

.hidden{
    display: none;
}

#search{
    padding: 40px 0;
}

form{
    margin:40px 0;
    display: flex;
}

form i{
    background-color: var(--red);
    color: var(--white);
    padding: 8px;
    border-radius: 7px 0 0 7px;
}

form input[type=text]{
    color: var(--black);
    border:1px solid var(--grey);
    padding: 5px;
    outline:none;
    font-size: 16px;
    font-weight: 500;
}

::placeholder{
    color: var(--black);
}

form button{
    color: var(--white);
    background-color: var(--red);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    border:none;
    padding: 0 15px;
    font-weight: 600;
    font-size: 16px;
    transition:all 0.2s ease;

    &:hover{
        opacity: 0.7;
    }
}

#filters h2{
    font-size: 18px;
}

#filters{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin:40px 0;
    align-items: center;
}

#filters i{
    color:var(--red);
    transition: all 0.2s ease;
}

#filters a{
    border: 1px solid var(--red);
    padding:8px 12px;
    border-radius: 12px;

    &:hover{
        background-color: var(--red);
        color: var(--white);
    }

    &:hover i{
        color: var(--white);
    }
}

#search > p > i{
    color:var(--red);
    font-size: 18px;
}

/* Section accommodations */

#accommodations{
    display: flex;
    gap:40px;
}

#accommodations > div{
    background-color: var(--lightgrey);
    border-radius: 12px;
    padding:40px;
    flex:2;
}

#accommodations > aside{
    background-color: var(--lightgrey);
    border-radius: 12px;
    padding:40px;
    flex:1;
}

#accommodations img{
    width:100%;
    transition:all 0.2s ease;
}

.accommodations-list{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    margin:40px 0;
}

.accommodations-list a{
    flex:1 0 27%;

    &:hover img{
        transform:scale(1.02);
        filter:grayscale(0.8);
    }
}

.accommodations-list img{
    height:160px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.accommodations-list article{
    background-color: var(--white);
    border-radius: 12px;
    padding: 4px;
    box-shadow: 0px 2px 15px var(--grey);
    position: relative;
}

.accommodations-list .info-zone{
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.accommodations-list .notation{
    display: flex;
    gap: 6px;
    margin-top: 16px;
}

.notation i{
    color:var(--red);
    font-size: 15px;
}

.notation .empty{
    color: var(--grey);
}

#accommodations > div > a{
    font-size: 18px;
    font-weight: 700;
}

.accommodations-list article.recommended::after{
    content:"Recommended";
    background: var(--red);
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 12px;
}

/* Popular */

.popular-list{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 40px 0;;
}

#accommodations .popular-list img{
    width: 35%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
}

.popular-list article{
    position: relative;
    background-color: #fff;
    display: flex;
    border-radius: 12px;
    padding: 4px;
    gap: 16px;
    box-shadow: 0px 2px 15px var(--grey);
}

.popular-list article.popular::after{
    content:"Popular";
    background: var(--red);
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    position: absolute;
    top: 10px;
    left: 12px;
}

.popular-list a:hover img{
        transform:scale(1.02);
        filter:grayscale(0.8);
}

.popular-list .info-zone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}

/* Section activities */

#activities{
    margin:40px 0;
}

#activities h2{
    margin-bottom: 40px;
}

#activities img{
    width:100%;
    height: 380px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.activities-list{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.activities-list a{
    flex: 1 0 20%;

    &:hover img{
        transform:scale(1.02);
        filter:grayscale(0.8);
    }
}

.activities-list article{
    box-shadow: 0px 2px 15px var(--grey);
    border-radius: 12px;
    overflow: hidden;
}

.activities-list h3{
    padding:12px;
    text-align: center;
}
/* Footer */

footer > div{
    background-color: var(--lightgrey);
    display: flex;
    padding: 40px;
    border-radius: 12px 12px 0 0;
}

footer > div > article{
    flex:1;
}

footer h2{
    font-size: 18px;
    margin-bottom: 20px;
}

footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer > p{
    padding: 15px;
    text-align: center;
}

/* Pour le responsive :

    - Format ordinateur (desktop) : 1025 et +
    - Format tablette : 768px et jusqu'à 1024px
    - Format mobile : 320px et jusqu'à 767px

*/

/* Format tablette */

@media screen and (max-width:1024px){
    #accommodations{
        flex-direction: column;
    }

    /* .activities-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
}

@media screen and (max-width:767px) {

}